@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "POReturns", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    @class = "form-horizontal",
    data_bv_message = "This value is not valid",
    data_toggle = "validator",
    data_bv_feedbackicons_valid = "glyphicon glyphicon-ok",
    data_bv_feedbackicons_invalid = "glyphicon glyphicon-remove",
    data_bv_feedbackicons_validating = "glyphicon glyphicon-refresh"
}))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="supplierId" name="supplierId" value="" />
    <input type="hidden" id="WarehouseID" name="WarehouseID" value="" />
    <input type="hidden" id="StoreLocationId" name="StoreLocationId" value="" />
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title"> PURCHASE RETURN</h2>
            <div class="box-tools pull-right">
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-2">
                            Return No
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="POReturnNo" name="POReturnNo" disabled="disabled" required class="form-control" style="width:100%" autocomplete="off" data_bv_notempty="true" />
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-2">
                            Return Date
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="ReturnDate" name="ReturnDate" required class="form-control" style="width:100%" autocomplete="off" data_bv_notempty="true" data_bv_notempty_message="Purchase Order Date is required and cannot be empty" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-2">
                            Status
                        </div>
                        <div class="col-md-6">
                            <select name="Status" id="Status" class='Status form-control'>
                                <option value='Select'>Select</option>
                                <option value='Return'>Return</option>
                                <option value='Replace'>Replace</option>
                            </select>
                        </div>
                    </div>
                </div>
             
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-2">
                            Vendor Name
                        </div>
                        <div class="col-md-6">
                            @Html.Editor("SupplierName", new { htmlAttributes = new { @class = "form-control", Autocomplete = "off", data_bv_notempty = "true", data_bv_notempty_message = "The  Name is required and cannot be empty", maxlength = "20", disabled = "disabled", } })
                        </div>
                    </div>
                </div>                
            </div>
            <div class="row">              
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-2">
                            Return/Replace Reason
                        </div>
                        <div class="col-md-6">
                            <textarea id="ReturnReason" name="ReturnReason" rows="2" cols="38"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-2">
                            Search Grn No
                        </div>
                        <div class="col-md-6">
                            @Html.EJ().Autocomplete("GRNNO").WatermarkText("Select GRN No").Datasource((IEnumerable<string>)ViewBag.PONOdatasource).Width("100%").AutocompleteFields(field => field.Key("GRNNo").Text("GRNNo")).HighlightSearch(true).ShowPopupButton(true).Width("100%").ClientSideEvents(e => e.Select("ShowPOdetails"))
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="orderItems" style="overflow-x:auto;">
            <table class="table table-responsive" id="orderdetailsItems" display block; overflow-x auto; white-space nowrap; style="width:1470px"></table><br />
            <span id="orderItemError" style="color:red"></span>
        </div>
        <table id="tbl1" style="width:1250px;text-align:left;">
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td style='width:400px'></td>
                <td style='width:400px'></td>
                <td style='width:400px'></td>
                <td style='width:400px'></td>
                <td style='width:110px'></td>
                <td style='width:110px; background-color :white; text-align:center'>Total Amount</td>
                <td style='width:400px'><input type="text" id="txtTotal" name="txtTotal" style='width:120px; background-color:white' readonly class="totalNew form-control"><br /></td>
                <td style='width:115px'></td>
            </tr>
            <tr></tr>
        </table>
        <div class="row" style="width:1580px">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4">
                        <div style="padding:6px 10px; text-align:right">
                            <input id="submit" type="button" value="Save Order" class="btn btn-warning" style="padding:6px 6px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#ReturnDate").ejDatePicker({ minDate: new Date(), locale: "en-IN", });
        var d = new Date();
        var strDate = d.toLocaleDateString("en-IN", { day: '2-digit', month: '2-digit', year: 'numeric' });
        $("#ReturnDate").ejDatePicker("option", "value", strDate);
       // $('#ReturnReason').tri
        $("ReturnReason").text().trim();
        getPORturnNo();
    })
    function getPORturnNo() {
        $.ajax({
            type: "GET",
            url: '/POReturns/getPORturnNo',
            success: function (result) {
                $('#POReturnNo').val("R_"+result);
            }
        })
    }
    function ShowPOdetails() {
        var temp = true;
        if ($('#ReturnReason').val() == "") { temp = false; toastr.warning('please enter reason....') } if ($('#ReturnDate').val() == "") { temp = false; toastr.warning('please select date....') } if ($('#Status').val() == "Select") { temp = false; toastr.warning('please Select status....') }
        if (temp == true) {
            $('#tbl1').show(); $('#orderdetailsItems').empty();
            $.ajax({
                type: "GET",
                url: '/POReturns/ShowPOdetails',
                data: { 'GRNNO': $('#GRNNO').val() },
                success: function (result) {
                    var ResultCount = result.length;
                    
                    $('#orderdetailsItems').empty();
                    if (ResultCount != 0) {
                        //getSupplierName(result[0].SupplierID);

                        $("#SupplierName").val(result[0].SupplierName);
                        $('#supplierId').val(result[0].SupplierID);
                        $(" <tbody> <tr bgcolor='#3c8dbc' style='color: #FBF8F7' > <th>ITEM NAME</th><th>WAREHOUSE</th><th>LOCATION</th><th>BATCH NO</th><th>MANUFACTURE DATE</th><th>EXPIRY DATE</th><th>ORDER QTY</th><th>RECEIVED QTY</th><th>RETURN/DAMAGE /REPLACE QTY</th> <th>QTY</th><th>STATUS</th><th>REASON</th><th>TAX</th><th>RATE</th><th>DISCOUNT</th><th>AMOUNT</th> <th></th> </tr> <tbody>").appendTo("#orderdetailsItems");
                        var Count = 1;
                        $('#SupplierName').val(result[0].SupplierName);
                        $.each(result, function (i, item) {
                            var orderQty = parseFloat(result[i].OrderQty).toFixed(2);
                            var ReceivedQty = parseFloat(result[i].ReceivedQty).toFixed(2);
                            var totalReturn = parseFloat(result[i].ReturnQty) + parseFloat(result[i].DamageQty) + parseFloat(result[i].SalesQty) + parseFloat(result[i].ReplaceQty);
                            
                            if (parseFloat(result[i].OrderQty) > parseFloat(totalReturn)) {
                                $(" <tbody> <tr id='R" + Count + "'> <td><input type='text' id='productNew" + Count + "' readonly  style='width : 180px' class='productnew form-control'' /></td> <td> <input type='Text'  name='Warehouse" + Count + "'  style='width:130px' id='Warehouse" + Count + "' readonly  class='Warehouse form-control'></td>   <td> <input type='text' name='StoreLocation" + Count + "'   style='width:130px' id='StoreLocation" + Count + "'  readonly  class='StoreLocation form-control'></td>  <td><input type='text' id='batchNo" + Count + "' style='width : 120px' readonly class='batchNo form-control'' /></td>  <td><input type='text' id='manufacturingDate" + Count + "'   style='width : 100px' readonly class='manufacturingDate form-control'' /></td> <td><input type='text' id='expiryDate" + Count + "'   style='width : 100px' readonly class='expiryDate form-control'' /></td>  <td><input type='text' id='orderQty" + Count + "' readonly  style='width : 100px'  class='orderQty form-control'' /></td><td><input type='text' id='quentityNew" + Count + "' readonly style='width : 100px'  class='quentityNew form-control'' /></td>  <td><input type='text' id='returnQty" + Count + "' readonly  style='width : 100px'  class='returnQty form-control'' /></td><td><input type='text' id='ReturnQtyNew" + Count + "'  style='width : 80px'  onchange='Calculate(" + Count + ");'   onkeypress = 'return event.charCode >= 46 && event.charCode <= 57 && event.charCode !=47' class='ReturnQtyNew  form-control'' /></td><td> <select name='StatusNew" + Count + "' style='width:100px' id='StatusNew" + Count + "' class='StatusNew form-control'> <option value='Select'>Select</option> <option value='Return'>Return</option> <option value='Replace'>Replace</option></select></td> <td><input type='text' id='ReturnReasonNew" + Count + "'  style='width : 170px'  class='ReturnReasonNew  form-control'' /></td> <td><input type='text' id='TaxNew" + Count + "' readonly style='width : 100px'  class='TaxNew form-control'' /></td>  <td><input type='text'  id='rateNew" + Count + "' style='width : 100px'  readonly class='rateNew form-control'' /></td> <td><input type='text' id='DiscountNew" + Count + "' readonly style='width : 100px' class='DiscountNew form-control'' /></td><td><input type='text' readonly id='amountNew" + Count + "'  style='width : 130px'  class='amountNew form-control'' /></td> <td><input type='button' id='" + Count + "' onclick='Remove(" + Count + ")' value='Remove' style='width: 85' class='btn btn-danger' /> <input type='hidden'  id='ProductIdNew" + Count + "'    class='ProductIdNew form-control'' /><input type='hidden'  id='DiscountInNew" + Count + "'    class='DiscountInNew form-control'' /><input type='hidden'  id='igstNew" + Count + "'    class='igstNew form-control'' /><input type='hidden'  id='cgstNew" + Count + "'    class='cgstNew form-control'' /><input type='hidden'  id='sgstNew" + Count + "'    class='sgstNew form-control'' /> <input type='hidden'  id='hsncodeNew" + Count + "'    class='hsncodeNew form-control'' /><input type='hidden'  id='grandTot" + Count + "'    class='grandTot form-control'' /> <input type='hidden'  id='PoidNew" + Count + "'    class='PoidNew form-control'' /><input type='hidden'  id='storeLocationIdNew" + Count + "'    class='storeLocationIdNew form-control'' /><input type='hidden'  id='WarehouseIdNew" + Count + "'    class='WarehouseIdNew form-control'' /><input type='hidden'  id='GRNIdNew" + Count + "'    class='GRNIdNew form-control'' /></td> </tr> <tbody>").appendTo("#orderdetailsItems");
                                $("#ProductIdNew" + Count + "").val(result[i].ProductCode);
                                $("#productNew" + Count + "").val(result[i].ProductName);
                                $("#Warehouse" + Count).val(result[i].WareHouseName);
                                $("#WarehouseIdNew" + Count + "").val(result[i].WarehouseID);
                                $("#StoreLocation" + Count + "").val(result[i].StoreLocation);
                                $("#storeLocationIdNew" + Count).val(result[i].StoreLocationId);
                                $("#TaxNew" + Count + "").val(parseFloat(result[i].GSTPercentage).toFixed(2));
                                $("#rateNew" + Count + "").val(parseFloat(result[i].Price).toFixed(2));
                                $("#DiscountNew" + Count + "").val(parseFloat(result[i].Discount).toFixed(2));
                                $("#orderQty" + Count + "").val(parseFloat(result[i].OrderQty).toFixed(2));
                                $("#PoidNew" + Count + "").val(result[i].PurchaseOrderDetailsID);
                                $("#returnQty" + Count + "").val(totalReturn);

                                $("#ReturnReasonNew" + Count + "").val($('#ReturnReason').val());
                                $("#GRNIdNew" + Count + "").val(result[i].GRNId);
                                $("#StatusNew" + Count + "").val($('#Status').val());
                                $("#quentityNew" + Count + "").val(ReceivedQty);
                                $("#DiscountInNew" + Count + "").val(result[i].DiscountAs);
                                $("#Warehouse" + Count).val(result[i].WareHouseName);
                                $("#batchNo" + Count).val(result[i].BatchNo);
                                var date = new Date(parseInt(result[i].ManufacturingDate.substr(6)));
                                var manufacturingDate = $.datepicker.formatDate("dd/mm/yy", date);
                                $("#manufacturingDate" + Count).val(manufacturingDate);
                                var date1 = new Date(parseInt(result[i].ExpiryDate.substr(6)));
                                var expiryDate = $.datepicker.formatDate("dd/mm/yy", date1);
                                $("#expiryDate" + Count).val(expiryDate);
                                var date2 = new Date(parseInt(result[i].GRNDate.substr(6)));
                                var GRNDate = $.datepicker.formatDate("dd/mm/yy", date2);
                                $("#GRNDate" + Count).val(GRNDate);
                                Count = Count + 1;
                            }
                        });
                    } else {
                        toastr.warning('NO data Found...');
                        $('#orderdetailsItems').empty();
                    }
                }
        })
        } else { $('#GRNNO').val('') }
    }   
    function CalculatetotalAmount() {
        $('#txtTotal').val(0);
        $('#orderdetailsItems tbody tr').each(function (index, ele) {
            var amountNew = $('.amountNew', this).val();
            if (amountNew == undefined || amountNew == "") {
            } else {
                $('#txtTotal').val((parseFloat($('#txtTotal').val()) + parseFloat(amountNew)).toFixed(2));
            }
        })
    }
    function Calculate(Count) {
        
        var discIn = $("#DiscountInNew" + Count + "").val();
        var aa = Warehouse = $("#Warehouse" + Count + "").val();
        var receivedQty = $("#quentityNew" + Count + "").val();
        var Qty = $("#ReturnQtyNew" + Count + "").val();
        var returnQty = $("#returnQty" + Count + "").val();
        var tax = $("#TaxNew" + Count + "").val();
        var rate = $("#rateNew" + Count + "").val();
        var disc = $("#DiscountNew" + Count + "").val();
        var discAmt = 0;
        
        if (parseFloat(receivedQty) < parseFloat(Qty)) {
            toastr.error("qty must not greater than  received qty");
            $("#ReturnQtyNew" + Count + "").val('');
            $("#amountNew" + Count + "").val('');
        } else {
            
            if (Qty != 0) {
                var total = (parseFloat(Qty) * parseFloat(rate));

                if (discIn == "Rupee") {
                    discAmt = parseFloat(disc) * parseFloat(Qty);
                } else {
                    discAmt = (parseFloat(total) * parseFloat(disc)) / 100;
                }
                var tamt = parseFloat(total) - parseFloat(discAmt);

                var tax1 = (parseFloat(tamt) * parseFloat(tax)) / 100;
                $("#amountNew" + Count + "").val((parseFloat(tamt) + parseFloat(tax1)).toFixed(2))
            } else {
                $("#amountNew" + Count + "").val('');
            }
            CalculatetotalAmount();
        }
    }
    $(document).ready(function () {
        $('#submit').click(function () {
            if ($('#ReturnDate').val() == "" || $('#GRNNO').val() == "" || $('#Status').val() == "Select" || $('#ReturnReason').val() == "") {
                if ($('#ReturnDate').val() == "") { toastr.warning("please Select Return Date") }
                if ($('#GRNNO').val() == "") { toastr.warning("please Select GRN Number") }
                if ($('#Status').val() == "Select") { toastr.warning("please Select Status") }
                if ($('#ReturnReason').val() == "") { toastr.warning("please Enter Return Reason") }
            } else {
                var rowCount = $('#orderdetailsItems tr').length;
                if (rowCount > 0) {
                    var isAllValid = true;
                    $('#orderItemError').text('');
                    var list = [];
                    var errorItemCount = 0;
                    var ReturnDate = $('#ReturnDate').val();
                    var datearray = ReturnDate.split("/");
                    var dt = datearray[1] + '/' + datearray[0] + '/' + datearray[2];
                    $('#orderdetailsItems tbody tr').each(function (index, ele) {
                        if (($('.quentityNew', this).val() || "") == "" ||
                            $('.ReturnQtyNew', this).val() == "" ||
                             $('.ProductIdNew', this).val() == "" ||
                             $('.TaxNew', this).val() == "" ||
                             $('.rateNew', this).val() == "" ||
                             $('.DiscountNew', this).val() == "" ||
                            //  $('.orderQty', this).val() == "" ||
                             $('.Warehouse', this).val() == "--Select--" ||
                            $('.StoreLocation', this).val() == "" ||
                           // $('.manufacturingDate', this).val() == "" ||
                       //     $('.expiryDate', this).val() == "" ||
                            $('.amountNew', this).val() == 0 ||
                             // $('.batchNo', this).val() == "" ||
                            isNaN($('.ReturnQtyNew', this).val())) {
                            errorItemCount++;
                            $(this).addClass('error');
                        } else {
                            var orderItem = {
                                ProductCode: $('.ProductIdNew', this).val(),
                                ReturnQty: $('.ReturnQtyNew', this).val(),
                                PurchaseOrderDetailsID: $('.PoidNew', this).val(),
                                WarehouseID: $('.WarehouseIdNew', this).val(),
                                StoreLocationId: $('.storeLocationIdNew', this).val(),                                
                                GrnNo: $('#GRNNO').val(),
                                ReturnDate: dt,                              
                                Status: $('.StatusNew', this).val(),
                                POReturnNo: $('#POReturnNo').val(),
                                ReturnReason: $('.ReturnReasonNew', this).val(),                              
                                BatchNo: $('.batchNo', this).val(),
                                GRNId: $('.GRNIdNew', this).val(),
                                SupplierID: $('#supplierId').val(),
                            }
                            list.push(orderItem);
                        }
                    })

                    if (isAllValid) {
                        var data = {
                            Poreturns: list
                        }
                        $(this).val('Please wait...');
                        $.ajax({
                            type: 'POST',
                            url: '/POReturns/save',
                            data: JSON.stringify(data),
                            contentType: 'application/json',
                            success: function (data) {
                                if (data.status) {
                                    toastr.success("Successfully saved..");
                                    window.location.href = "/POReturns/Index";
                                }
                                else {
                                    toastr.error("something Wrong..");
                                }
                                $('#submit').val('Save');
                            },
                            error: function (error) {
                                console.log(error);
                                $('#submit').val('Save');
                            }
                        });
                    }
                } else {
                    toastr.error("please add data to list.");
                }
            }
        });
    });
</script>