@model IEnumerable<Inventory.Models.SalesOrderPayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .e-grid .e-headercell, .e-grid .e-grouptopleftcell {
        background-color: #3c8dbc;
        border-top-color: #3c8dbc;
        border-left-color: #3c8dbc;
        border-bottom-color: #3c8dbc;
        color: #fff;
    }

    .e-grid .e-gridheader .e-icon {
        color: #fff;
    }

    .Expand {
        background-position: -180px 3px;
    }

    .Collapse {
        background-position: -205px 3px;
    }

    .refresh {
        background-position: -76px 3px;
    }

    .e-toolbaricons {
        background-image: url("../../Content/ej/web/common-images/icons-gray.png");
    }

    .Expand:hover, .Collapse:hover, .refresh:hover {
        background-image: url("../../Content/ej/web/common-images/icons-white.png");
    }
</style>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                @(Html.EJ().Grid<Inventory.Models.SalesOrderPayment>
                    ("SalesOrderPayment").Datasource((IEnumerable<object>
                        )ViewBag.datasource)
                        .AllowScrolling()
                        .AllowFiltering()
                        .AllowTextWrap()
                        .FilterSettings(filter => { filter.ShowFilterBarStatus().StatusBarWidth(500).FilterBarMode(FilterBarMode.Immediate).MaxFilterChoices(1000).FilterType(FilterType.Menu); })   /*Filtering Enabled*/
                        .AllowSorting()    /*Sorting Enabled*/
                        .AllowMultiSorting()
                        .AllowPaging()    /*Paging Enabled*/
                        .SelectionType(SelectionType.Multiple)
                        .AllowResizing()
                        .IsResponsive()
                        .MinWidth(1000)
                        .AllowReordering()
                        .AllowResizeToFit()
                        .AllowResizing()
                        .ScrollSettings(scroll => { scroll.Height(300); })
                        .ToolbarSettings(toolbar =>
                        {
                            toolbar.ShowToolbar().ToolbarItems(items =>
                            {
                                items.AddTool(ToolBarItems.Search); items.AddTool(ToolBarItems.ExcelExport);
                            });
                        })
                                .Mappers(map => map.ExportToExcelAction("/SalesOrderPayment/ExportToExcel"))
                        .AllowSearching(true)
                        .ToolbarSettings(toolbar =>
                        {
                            toolbar.ShowToolbar(true).CustomToolbarItems(new List<object>
                                () { new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#Refresh" }, new Syncfusion.JavaScript.Models.CustomToolbarItem() { TemplateID = "#AddNew" } });
                        })
                            .ClientSideEvents(eve => { eve.ToolbarClick("onToolBarClick"); })
                            .Columns(col =>
                            {                                
                                col.Field("DocNo").HeaderText("Doc No").TextAlign(TextAlign.Left).Visible(true).Width(110).Add();
                                col.Field("SoNo").HeaderText("So No").TextAlign(TextAlign.Left).Visible(true).Width(110).Add();
                                col.Field("DocDate").HeaderText("Doc Date").TextAlign(TextAlign.Left).Visible(true).Format("{0:dd/MM/yyyy}").Width(110).Add();
                                col.Field("CustomerName").HeaderText("Customer Name").TextAlign(TextAlign.Left).Visible(true).Width(200).Add();
                                col.Field("InvoiceNo").HeaderText("Invoice No").IsPrimaryKey(true).TextAlign(TextAlign.Left).Width(150).Add();
                                col.Field("InvoiceDate").HeaderText("Invoice Date").TextAlign(TextAlign.Left).Width(120).Format("{0:dd/MM/yyyy}").EditType(EditingType.String).Add();
                                col.Field("Amount").HeaderText("Amount").TextAlign(TextAlign.Left).Width(120).EditType(EditingType.String).Add();
                                col.Field("PaymentType").HeaderText("Payment Type").TextAlign(TextAlign.Left).Width(130).EditType(EditingType.String).Add();
                                col.Field("PaymentMode").HeaderText("Payment Mode").TextAlign(TextAlign.Left).Width(120).EditType(EditingType.String).Add();
                                col.Field("ReferenceNo").HeaderText("Reference No").TextAlign(TextAlign.Left).Width(110).EditType(EditingType.String).Add();
                                col.Field("Date").HeaderText("Date").TextAlign(TextAlign.Left).Width(120).EditType(EditingType.String).Format("{0:dd/MM/yyyy}").Add();
                                col.Field("InvoiceAmount").HeaderText("Invoice Amount").TextAlign(TextAlign.Left).Width(120).EditType(EditingType.String).Add();
                                col.Field("AdvanceAmount").HeaderText("Advance Amount").TextAlign(TextAlign.Left).Width(130).EditType(EditingType.String).Add();                               
                            }))
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script id="Refresh" type="text/x-jsrender">
    <a href="#" class="e-toolbaricons refresh" />
</script>
<script id="AddNew" type="text/x-jsrender">
    <button class="btn btn-primary btn-sm add">Make Payment</button>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var Message = '@TempData["Msg"]';
        if (Message != "")
            toastr.error(Message);

           var tanId = '@TempData["Temp"]';
       if (tanId != "" && tanId != undefined && tanId != null) {
           toastr.success(tanId);
       }
       });
</script>

<script type="text/javascript">
        function onToolBarClick(sender) {
            if (sender.itemName == "Expand")
                this.expandAll();
            else if (sender.itemName == "Collapse")
                this.collapseAll();
            else if (sender.itemName == "Refresh") {
                var instance = $("#SalesOrderPayment").ejGrid("instance");
                instance._filterCollection = [];
                instance.clearFiltering();
                instance.clearSearching();
                this.refreshContent();
            }
            if (sender.itemName == "AddNew") {
                window.location.href = "../SalesOrderPayment/Payment";
            }
        }
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault();
        });
    
</script>

