
@{
    ViewBag.Title = "Pending PRN Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pending PRN Approval</h2>
<style>
    #reportviewer {
        min-height: 500px;
        min-width: 100%;
    }
</style>
@(Html.EJ().ReportViewer("reportviewer")
    .ProcessingMode(Syncfusion.JavaScript.ReportViewerEnums.ProcessingMode.Remote)
    .ReportServiceUrl(VirtualPathUtility.ToAbsolute("~/api/ReportApi"))
    .ReportPath("~/App_Data/rptPendingPRNApproval.rdl")) 
